<section class="account">
  <div class="account__container">
  
   {% comment %} top bar {% endcomment %}
    <div class="customer-account__header">
      <h1 class="customer-account__title">My Account</h1>
      <a href="/account/logout/" class="customer-account__logout">Logout</a>
    </div>

    {% comment %} main content {% endcomment %}
    <div class="account__main">

      {% comment %} Order history {% endcomment %}
      <div class="account__orders">
        <h2 class="account__subtitle">{{ "customer.account.order_history.title" | t }}</h2>
          {% comment %} Orders {% endcomment %}
          {% if customer.orders.size > 0 %}
            <table class="account__orders-table">
              <thead>
                <tr>
                  <th>{{ "customer.account.order_history.order" | t }}</th>
                  <th>{{ "customer.account.order_history.date" | t }}</th>
                  <th>{{ "customer.account.order_history.total" | t }}</th>
                  <th>{{ "customer.account.order_history.status" | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for order in customer.orders %}
                  <tr>
                    <td>
                      <a href="{{ order.order_status_url }}">
                        {{ order.name }}
                      </a>
                    </td>
                    <td>{{ order.created_at | date: format: 'abbreviated_date' }}</td>
                    <td>{{ order.total_price | money }}</td>
                    <td>{{ order.fulfillment_status }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>{{ "customer.account.order_history.no_orders" | t }}</p>
          {% endif %}
          
      </div>

      {% comment %} Addresses {% endcomment %}
      <div class="account__addresses">
        <h2 class="account__subtitle">{{ "customer.account.addresses.title" | t }}</h2>
        <div class="account__default-address">{{ customer.default_address | format_address }}</div>
        <a href="{{ routes.account_addresses_url }}" class="account__edit-address">{% if customer.default_address != blank %}{{ "customer.account.addresses.edit_address" | t }}{% else %}{{ "customer.account.addresses.add_address" | t }}{% endif %}</a>
      </div>
    
    </div>
  
  </div>
</section>
