<section class="reset-password">
  <div class="reset-password__container">
    <h1 class="reset-password__title">{{ "customer.reset.title" | t }}</h1>

    {% form "reset_customer_password", class: "reset-password__form" %}

      {% if form.errors %}
        <div class="login__form__errors">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      <div class="reset-password__form__input-wrapper">
        <label for="password">{{ "forms.new_password" | t }}</label>
        <input type="password" name="customer[password]" id="password">
      </div>

      <div class="reset-password__form__input-wrapper">
        <label for="passwordConfirm">{{ "forms.confirm_new_password" | t }}</label>
        <input type="password" name="customer[password_confirmation]" id="passwordConfirm">
      </div>

      <button class="reset-password__form__submit-button" type="submit">{{ "customer.reset.submit_button" | t }}</button>
    {% endform %}
  </div>
</section>